.login {
  background-image: url(img/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.active {
  background-color: #16db65;
  color: #ffffff;
  border-radius: 8px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}
