.login {
  background-image: url(img/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.active {
  background-color: #16db65;
  color: #ffffff;
  border-radius: 8px;
}
